@import '../../utils/variables';

.event-header {
    display: flex;
    align-items: center;

    &__heading {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    &__logo {
        height: 100px;
        overflow: hidden;
        margin-right: 20px;

        img {
            height: 100%;
            width: auto;
        }
    }
    // &__information {

    // }


    &__title {
        margin: 0;
        margin-bottom: 10px;
    }

    &__location {
        margin: 0;
        color: $midGray;
    }

    &__participants {
        height: 100%;
    }
    
    &__participants-count {
        display: flex;
        margin-bottom: 20px;
    }

    &__participants-icon {
        margin-right: 5px;
        display: inline-block;
        height: 45px;
        width: 45px;

        svg {
            height: 100%;
            width: auto;
        }
    }

    // &__participants-group {
    // }

    &__participants-number {
        font-size: 24px;
        font-weight: 700;
    }

    &__participants-text {
        color: $midGray;
        font-weight: 700;
        font-size: 14px;
    }

    &__remaining-days {
        &__bar {
            width: 200px;
            height: 3px;
            background: $midGray;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        &__title {
            color: $darkGray;
            font-size: 14px;
            display: inline-block;
            width: 80%;
            text-align: left;
        }

        &__days {
            color: $darkGray;
            font-size: 14px;
            width: 20%;
            display: inline-block;
            text-align: right;
        }
    }
}
