@import '../../utils/variables';

.heading {
    padding: 20px 0;

    &__title {
        margin: 0;
        font-weight: 300;
        font-size: 30px;

        strong {
            font-weight: 700;

        }
    }

    &__subtitle {
        color: $midGray;

        strong {
            text-decoration: underline;
        }
    }
}